<!--build:style_style1-->
<link rel="stylesheet" href="assets/css/style1.css">
<!--/build:style_style1-->

<!-- build:index1 -->
    <div class="list">
        <ul>
            <li> <a href="#">Mohamed Salah sớm chia tay World Cup 2018</a></li>
            <li> <a href="#">Những chuyện bất thường quanh khoản chi 1.200 tỷ đồng cho 53.000 các bộ xuất ngoại</a></li>
            <li> <a href="#">Thái Lan phủ nhận thông tin cùng Việt Nam và Indonnesia đăng cai World Cup 2034</a></li>
            <li> <a href="#">Câu nói đùa của Ngoại trưởng Mỹ khiến ông Kim Jong-un bật cười</a></li>
            <li> <a href="#">Xây siêu thành phố thông minh tỷ USD, đất Đông Anh lại có dịp "nổi sóng"?</a></li>
        </ul>
    </div>
<!-- /build:index1 -->

<!--build:style_style10-->
    <link rel="stylesheet" href="assets/css/style10.css">
<!--/build:style_style10-->

<!--build:index10-->
    <div class="content">
    <div class="upon">
        <div class="anh1"> <a href="#"><img src="/image/anh1_step3.png" alt="ảnh" width="209px" height="130px"></a>
        </div>
        <div class="anh2">
            <a href="#"><img src="/image/mat_xem_step3.png" alt="ảnh"></a>
        </div>
        <div class="nguoiXem">
            <a href="#" style="color: rgb(216, 211, 202);">
                <p>114.944 lượt xem</p>
            </a>
        </div>

    </div>
    <div class="under">
        <a href="#">
            <h2>Xuất thân trâm anh thế phiệt của các sao Hollywood: Sinh ra đã ngậm thìa vàng ...</h2>
        </a>
    </div>
    </div>
<!--/build:index10-->
<!--build:style_style2-->
    <link rel="stylesheet" href="assets/css/style2.css">
<!--/build:style_style2-->
</head>

<!--build:index2-->
    <div class="list">
        <ul>
            <li>
                <a href="#">Quán bún riêu 30 năm tuổi ở vỉa hè Sài Gòn có gì hấp dẫn mà Trường Giang trở thành
                    "khách quen" lâu năm?

                </a>
                <span id="icon1" style="cursor: pointer;"><img src="/image/22.png"></span>

            </li>
            <li>
                <a href="#">Sữa tươi Mười vào sáng tinh mơ và câu chuyện 20 năm gây thương nhớ của những cô chủ quán dễ
                    thương nhất Sài Gòn</a>
                <span id="icon2" style="cursor: pointer;"><img src="/image/22.png"></span>


            </li>
            <li>
                <a href="#" style="margin-bottom: 42px;">Quán cafe ở Sài Gòn mà Thủ Tướng Canada ghé uống: "Ông và người
                    ngồi cùng bàn đều uống cafe
                    sữa pha phin và khen ngon"</a>
                <span id="icon3" style="cursor: pointer;"><img src="/image/22.png"></span>
            </li>


        </ul>
        <hr>
    </div>
<!--/build:index2-->
<!--build:style_style3-->
<link rel="stylesheet" href="assets/css/style3.css">
<!--/build:style_style3-->

<!--build:index3-->
    <div class="list_hour">
        <section id="left">
            <a href="#">
                <p>12:30</p>
            </a>
        </section>
        <aside id="right">
            <a href="#">
                <p>Cách chức Trưởng công an xã vào nhà nghỉ với vợ bạn thân</p>
            </a>
        </aside>
    </div>
<!--/build:index3-->
<!--build:style_style4-->
    <link rel="stylesheet" href="assets/css/style4.css">
<!--/build:style_style4-->
<!--build:index4-->
    <div class="left">
        <a href="#"><img src="/image/left.png" alt="anh1" width="252px" height="166px"></a>
    </div>

    <div class="right">
        <a href="#">
            <h2>Những gương mặt thủ khoa đại học đạt tuyệt đối 30 điểm: Khi bạn giỏi thực sự, điểm thi chỉ là một con
                số!</h2>
        </a>
        <div class="danNgang">
            <a href="#"><strong>Học đường </strong></a>
            <span class="gio" style="margin-left: 2px;"> - 3 giờ trước</span>
        </div>
        <a href="#">
            <p>Hầu hết thủ khoa đạt 30 điểm trong kỳ thi THPT Quốc gia đều tự chấm được 30 điểm cho mình ngay sau khi
                ...</p>
        </a>
    </div>
<!--/build:index4-->
<!--build:style_style5-->
    <link rel="stylesheet" href="assets/css/style5.css">
<!--/build:style_style5-->


<!--build:index5-->
    <div class="left">
        <a href="#"><img src="/image/left-news-hot-3.png" alt="ảnh" width="208px" height="295px"></a>

    </div>
    <div class="right">
        <div class="upon">
            <a href="#">
                <h2>Georgina đẹp hút mắt trên khán đài, tiếp lửa cho Cristiano Ronaldo</h2>
            </a>
            <div class="danNgang">
                <a href="#"><strong>Sport</strong></a>
                <span class="right1" style="margin-left: 9px;"> - 13 giờ trước</span>
            </div>
            <a href="#">
                <p>Người đẹp 22 tuổi bay sang Nga để cổ vũ Ronaldo trong cuộc chạm trán với Morocco, trận đấu mà siêu
                    sao người Bồ Đào Nha tỏa sáng với bàn thắng duy nhất giúp Bồ Đào Nha giành 3 điểm trọn vẹn.</p>
            </a>
        </div>
        <hr>
        <div class="under">
            <a href="#"><span id="docThem">Đọc thêm</span></a>
            <div class="list">
                <ul>
                    <li>
                        <a href="#" class="contents"><strong>"Ronaldo đang ở một đẳng cấp khác, trên tầm Messi
                                rồi"</strong>
                            <span class="cham1"> . </span>
                            <span class="gio">5 giờ trước</span></a>
                    </li>
                    <li>
                        <a href="#" class="contents"><strong>Cầu thủ Morocco tố trọng tài lén lút xin áo đấu của
                                Ronaldo</strong>
                            <span class="cham2"> . </span>
                            <span class="gio"> 4 giờ trước</span></a>
                    </li>
                    <li>
                        <a href="#" class="contents"><strong>"Messi đau khổ và khóc nhiều vì giấc mơ vô địch World
                                Cup"</strong>
                            <span class="cham3"> . </span>
                            <span class="gio"> 5 giờ trước</span></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
<!--/build:index5-->
<!--build:style_style6-->
    <link rel="stylesheet" href="assets/css/style6.css">
<!--/build:style_style6-->

<!--build:index6-->
    <div class="upon">
        <div class="left">
            <a href="#"><img src="/image/left_upon_step7.png" alt="ảnh" width="80px" height="48px"></a>
        </div>
        <div class="right">
            <a href="#">
                <p><strong>Mẹ mua giống cà chua "siêu trái" trồng để con đi thi, ai ngờ 2 thá...</strong></p>
            </a>

        </div>
    </div>

    <div class="under">
        <div class="left">
            <a href="#"><img src="/image/left_under_step7.png" alt="ảnh" width="82px" height="49px"></a>

        </div>
        <div class="right">
            <a href="#">
                <p><strong>Muốn biết cầu thủ Anh tập luyện thế nào cho World Cup, Insta stori...</strong></p>
            </a>

        </div>
    </div>
<!--/build:index6-->
<!--build:style_style7-->
    <link rel="stylesheet" href="assets/css/style7.css">
<!--/build:style_style7-->

<!--build:index7-->
    <div class="upon">
        <a href="#"><img src="/image/upon_step5.png" alt="ảnh" width="385px" height="245px"></a>
    </div>
    <div class="under">
        <a href="#">
            <h2>Quán cháo "hào sảng" giá 5.000 đòng/tô của cô Tư Sài Gòn: Nhà
                Tư không nợ nần gì, bán vầy là sống thoải mái rồi!
            </h2>
        </a>
        <a href="#">
            <p>Không ngẫu nhiên mà hơn 40 năm qua quán cháo vỉa hè của gia đình cô Tự luôn
                tấp nập khách từ sáng sớm, dù chẳng biển hiệu. Với mức giá 5.000 đồng không thay đổi mấy
                mưa năm qua, nơi đây trở thành một điểm quen thuộc...
            </p>
        </a>
    </div>
<!--/build:index7-->
<!--build:style_style8-->
    <link rel="stylesheet" href="assets/css/style8.css">
<!--/build:style_style8-->
<!--build:index8-->
    <div class="upon">
        <a href="#">
            <h2>Thi THPT Quốc gia 2018: Thí sinh không được mang đề thi, giấy nháp của bài thi Khoa học ra khỏi phòng
                thi</h2>
        </a>
    </div>

    <div class="under">
        <div class="left">
            <a href="#"> <img src="/image/left_news-one-mobile.png" alt="ảnh" width="107px" height="80px"></a>
        </div>
        <div class="right">
            <a href="#">
                <h4>Kỳ thi THPT Quốc gia năm nay có nhiều điểm mới hơn so với các năm trước.</h4>
            </a>
            <div class="danNgang">
                <a href="#"><span id="hocDuong"><strong>HỌC ĐƯỜNG</strong></span></a>
                <span> - 16 giờ trước</span>
            </div>
        </div>
    </div>
<!--/build:index8-->
<!--build:style_style9-->
    <link rel="stylesheet" href="assets/css/style9.css">
<!--build:style_style9-->

<!--build:index9-->
    <div class="head">
        <a href="#">
            <h1>STAR</h1>
        </a>
    </div>
    <div class="anh">
        <a href="#"><img src="/image/bang_bang.png" alt="ảnh" width="273px" height="171px"></a>
    </div>
    <div class="content">
        <a href="#">
            <h2>Phạm Băng Băng đáp trả như thế nào trước loạt tin đồn thua bạc, trốn thuế và bỏ quốc tịch Trung Quốc?
            </h2>
        </a>
        <span class="text1">
            <p>Phía Phạm Băng Băng quyết tâm đưa tất cả những tin đồn ác ý giao cho pháp luật xử lý nghiêm minh.</p>
        </span>
        <hr>
        <span class="text2">
            <a href="#">
                <p><strong>Lộ clip Trương Vệ Kiên bị cảnh sát bắt vì sử dụng ma túy tại Bắc Kinh?</strong></p>
            </a>
            <hr>
            <a href="#">
                <p><strong>Mặc bàn tán của dư luận về chiếc cằm biến dạng, Minh Hằng vẫn tự tin thực hiện
                        trào...</strong></p>
            </a>
        </span>

    </div>
<!--/build:index9-->