@import "include/_body";
@import "include/_theA";
@import "include/_bien";

.list {
  ul {
    li {
      padding-bottom: 4.5px;
      line-height: 17.5px;
    }
    list-style-image: url("/image/1.png");
    font-family: $font;
    font-size: 10.8px;
    font-weight: 600;
    padding-left: 38px;
  }
}
body {
  @include body(267px, 207px);
}
a {
  @include the_a(rgb(6, 66, 119));
}
