@import "include/_body";
@import "include/_theA";
@import "include/_bien";
@import "include/_img";

body {
    @include body(245px, 158px);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    margin-left: 5px;
}
a {
    @include the_a(black);
}
.upon {
    h2 {
        line-height: 19px;
    }
}
.left {
    float: left;
}
.right {
    h4 {
        font-size: 10.2px;
        line-height: 13px;
        margin-bottom: 4px;
    }
    margin-left: 114px;
}
.danNgang {
    #hocDuong {
        color: #fc773e;
        font-size: 8px;
        margin-right: 3px;
    }
    display: flex;
}
