$netDut: 1px dotted #c7c6c6;
@import "include/_body";
@import "include/_theA";
@import "include/_bien";

#left {
  border-right: $netDut;
  float: left;
  width: 34px;
  p {
    color: orangered;
  }
}
#right {
  p {
    margin-top: 1px;
    color: black;
  }
  float: right;
  width: 185px;
  font-weight: 700;
  line-height: 16.5px;
  padding-right: 4px;
}
body {
  @include body(234px, 58px);
  margin-top: 9px;
  margin-left: 4px;
}
.list_hour {
  height: 45px;
  border-bottom: $netDut;
  font-family: $font;
  font-size: 11px;
}
a {
  text-decoration: none;
  display: block;
}
