@import "include/_body";
@import "include/_theA";
@import "include/_bien";
@import "include/_img";

body {
  @include body(593px, 295px);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11.5px;
  display: flex;
  margin-top: 10px;
  margin-left: 6px;
}
.left {
  position: relative;
}
.right {
  .upon {
    h2 {
      line-height: 20px;
      margin-bottom: 10px;
      margin-top: 0px;
    }
    p {
      line-height: 17px;
      color: rgb(77, 77, 77);
    }
    margin-left: 7px;
  }
  .under {
    span {
      color: rgb(136, 136, 136);
    }
    #docThem {
      color: rgba(14, 13, 13, 0.7);
      font-size: 11px;
      color: rgb(136, 136, 136);
    }
    margin-left: 7px;
  }
  width: 390px;
  max-width: 100%;
}
a {
  @include the_a(black);
}
.danNgang {
  display: flex;
  span {
    color: rgb(119, 119, 119);
  }
}
ul {
  li {
    line-height: 20px;
    margin-bottom: 5px;
    a {
      color: rgb(65, 69, 93);
    }
    .gio {
      margin-left: 10px;
    }
  }
  list-style-image: url("/image/chamCam.PNG");
  padding-left: 11px;
  margin-top: 6px;
}
hr {
  border: 0.1px dotted #ccc;
  margin-bottom: 10px;
  margin-left: 9px;
}
.cham1 {
  position: absolute;
  top: 172px;
  left: 547px;
}
.cham2 {
  position: absolute;
  top: 219px;
  left: 563px;
}
.cham3 {
  position: absolute;
  top: 262px;
  left: 571px;
}
