@import "include/_body";
@import "include/_theA";
@import "include/_bien";
@import "include/_img";

body {
    @include body(385px, 406px);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11.4px;
}
a {
    @include the_a(black);
}
.under {
    h2 {
        line-height: 22px;
        margin-top: 1px;
        margin-bottom: 0px;
    }
    p {
        line-height: 17px;
    }
    margin-left: 7px;
}
