@import "include/_body";
@import "include/_theA";
@import "include/_bien";


@mixin icon($top, $left) {
    position: absolute;
    top: $top;
    left: $left;
}

.list {
    ul {
        li {
            padding-bottom: 10px;
            float: left;
            line-height: 34.5px;
        }
        list-style-image: url("/image/2.png");
        font-family: $font;
        font-size: 26px;
        padding-left: 38px;
        margin-top: 0px;
        margin-bottom: 3px;
    }
    hr {
        border: 0.1px solid rgb(239, 239, 239);
        margin-left: 19.5px;
    }
}
body {
    @include body(1196px, 286px);
}
a {
    @include the_a(rgb(56, 62, 83));
    position: relative;
    top: 5.5px;
    left: 6px;
}
#icon1 {
    @include icon(46px, 229px);
}
#icon2 {
    @include icon(124px, 330px);
}
#icon3 {
    @include icon(204px, 431px);
}
// a:not(.icon):hover {
//     color: rgb(0, 0, 255);
// }
