@import "include/_body";
@import "include/_theA";
@import "include/_bien";
@import "include/_img";

body {
    @include body(270px, 135px);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11.6px;
    margin-top: 10px;
    margin-left: 6px;
}
a {
    @include the_a(black);
}
.upon,
.under {
    .right {
        p {
            margin-top: 1px;
            line-height: 16px;
        }
        margin-left: 10px;
    }
    display: flex;
    margin-bottom: 8px;
}
