@import "include/_body";
@import "include/_theA";
@import "include/_bien";
@import "include/_img";

$vien: 0.1px solid rgb(230, 230, 230);

body {
    @include body(225px, 224px);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    margin-left: 5px;
    margin-top: 5px;

}
a {
    @include the_a(black);
}
.anh1 {
    position: relative;
}
.anh2 {
    position: absolute;
    top: 110px;
    left: 14px;
}
.nguoiXem {
    position: absolute;
    top: 103px;
    left: 40px;
    color: rgb(228, 217, 217);
    font-size: 11.5px;
}
.under {
    border-bottom: $vien;
    border-right: $vien;
    border-left: $vien;
    margin-right: 17px;
h2 {
    margin-left: 9px;
    line-height: 19.5px;
    margin-top: 5px;
    margin-bottom: 19.8px;
 
}
}

