@import "include/_body";
@import "include/_theA";
@import "include/_bien";
@import "include/_img";

a {
    @include the_a(rgb(42, 42, 46));
}
body {
    @include body(712px, 197px);
    font-family: $font;
    font-size: 12.69px;
    margin-top: 9px;
    margin-left: 7px;
}
.right {
    float: right;
    width: 434px;
    max-width: 100%;
    h2 {
        margin-top: 0%;
        line-height: 25px;
        margin-bottom: 13px;
    }
    p {
        line-height: 20px;
    }
}

.left {
    float: left;
}
.danNgang {
    display: flex;
    .gio {
        color: rgb(119, 119, 119);
    }
}
