@import "include/_body";
@import "include/_theA";
@import "include/_bien";
@import "include/_img";

body {
    @include body(284px, 438px);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
a {
    @include the_a(black);
}
.head {
    h1 {
        margin-top: 0px;
        margin-left: 13px;
        font-size: 17.6px;
    }
    display: flex;
    background-image: url("/image/doc_cam.PNG");
    background-repeat: no-repeat;
    background-position: left top;
    margin-top: 8px;
    margin-left: 8px;
}
.anh {
    margin-left: 8px;
}
.content {
    h2 {
        line-height: 20px;
        margin-bottom: 0px;
        margin-top: 8px;
    }
    .text1 {
        p {
            margin-top: 6px;
        }
        line-height: 17px;
        font-size: 11.5px;
        color: rgb(85, 85, 85);
    }
    .text2 {
        p {
            font-size: 11px;
            line-height: 14.5px;
        }
    }
    margin-left: 8px;
}
hr {
    border: 0.1px solid rgb(238, 233, 233);
}
