a:hover {
  color: #9090a5; }

img {
  max-width: 100%;
  max-height: auto; }

body {
  width: 593px;
  height: 295px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11.5px;
  display: flex;
  margin-top: 10px;
  margin-left: 6px; }

.left {
  position: relative; }

.right {
  width: 390px;
  max-width: 100%; }
  .right .upon {
    margin-left: 7px; }
    .right .upon h2 {
      line-height: 20px;
      margin-bottom: 10px;
      margin-top: 0px; }
    .right .upon p {
      line-height: 17px;
      color: #4d4d4d; }
  .right .under {
    margin-left: 7px; }
    .right .under span {
      color: #888888; }
    .right .under #docThem {
      color: rgba(14, 13, 13, 0.7);
      font-size: 11px;
      color: #888888; }

a {
  display: block;
  text-decoration: none;
  color: black; }

.danNgang {
  display: flex; }
  .danNgang span {
    color: #777777; }

ul {
  list-style-image: url("/image/chamCam.PNG");
  padding-left: 11px;
  margin-top: 6px; }
  ul li {
    line-height: 20px;
    margin-bottom: 5px; }
    ul li a {
      color: #41455d; }
    ul li .gio {
      margin-left: 10px; }

hr {
  border: 0.1px dotted #ccc;
  margin-bottom: 10px;
  margin-left: 9px; }

.cham1 {
  position: absolute;
  top: 172px;
  left: 547px; }

.cham2 {
  position: absolute;
  top: 219px;
  left: 563px; }

.cham3 {
  position: absolute;
  top: 262px;
  left: 571px; }
