a:hover {
  color: #9090a5; }

img {
  max-width: 100%;
  max-height: auto; }

body {
  width: 270px;
  height: 135px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11.6px;
  margin-top: 10px;
  margin-left: 6px; }

a {
  display: block;
  text-decoration: none;
  color: black; }

.upon,
.under {
  display: flex;
  margin-bottom: 8px; }
  .upon .right,
  .under .right {
    margin-left: 10px; }
    .upon .right p,
    .under .right p {
      margin-top: 1px;
      line-height: 16px; }
