a:hover {
  color: #9090a5; }

#left {
  border-right: 1px dotted #c7c6c6;
  float: left;
  width: 34px; }
  #left p {
    color: orangered; }

#right {
  float: right;
  width: 185px;
  font-weight: 700;
  line-height: 16.5px;
  padding-right: 4px; }
  #right p {
    margin-top: 1px;
    color: black; }

body {
  width: 234px;
  height: 58px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  margin-top: 9px;
  margin-left: 4px; }

.list_hour {
  height: 45px;
  border-bottom: 1px dotted #c7c6c6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px; }

a {
  text-decoration: none;
  display: block; }
