a:hover {
  color: #9090a5; }

img {
  max-width: 100%;
  max-height: auto; }

body {
  width: 245px;
  height: 158px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  margin-left: 5px; }

a {
  display: block;
  text-decoration: none;
  color: black; }

.upon h2 {
  line-height: 19px; }

.left {
  float: left; }

.right {
  margin-left: 114px; }
  .right h4 {
    font-size: 10.2px;
    line-height: 13px;
    margin-bottom: 4px; }

.danNgang {
  display: flex; }
  .danNgang #hocDuong {
    color: #fc773e;
    font-size: 8px;
    margin-right: 3px; }
