a:hover {
  color: #9090a5; }

img {
  max-width: 100%;
  max-height: auto; }

a {
  display: block;
  text-decoration: none;
  color: #2a2a2e; }

body {
  width: 712px;
  height: 197px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.69px;
  margin-top: 9px;
  margin-left: 7px; }

.right {
  float: right;
  width: 434px;
  max-width: 100%; }
  .right h2 {
    margin-top: 0%;
    line-height: 25px;
    margin-bottom: 13px; }
  .right p {
    line-height: 20px; }

.left {
  float: left; }

.danNgang {
  display: flex; }
  .danNgang .gio {
    color: #777777; }
