a:hover {
  color: #9090a5; }

img {
  max-width: 100%;
  max-height: auto; }

body {
  width: 385px;
  height: 406px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11.4px; }

a {
  display: block;
  text-decoration: none;
  color: black; }

.under {
  margin-left: 7px; }
  .under h2 {
    line-height: 22px;
    margin-top: 1px;
    margin-bottom: 0px; }
  .under p {
    line-height: 17px; }
