a:hover {
  color: #9090a5; }

.list ul {
  list-style-image: url("/image/1.png");
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10.8px;
  font-weight: 600;
  padding-left: 38px; }
  .list ul li {
    padding-bottom: 4.5px;
    line-height: 17.5px; }

body {
  width: 267px;
  height: 207px;
  margin: 0px;
  padding: 0px;
  max-width: 100%; }

a {
  display: block;
  text-decoration: none;
  color: #064277; }
