a:hover {
  color: #9090a5; }

.list ul {
  list-style-image: url("/image/2.png");
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  padding-left: 38px;
  margin-top: 0px;
  margin-bottom: 3px; }
  .list ul li {
    padding-bottom: 10px;
    float: left;
    line-height: 34.5px; }

.list hr {
  border: 0.1px solid #efefef;
  margin-left: 19.5px; }

body {
  width: 1196px;
  height: 286px;
  margin: 0px;
  padding: 0px;
  max-width: 100%; }

a {
  display: block;
  text-decoration: none;
  color: #383e53;
  position: relative;
  top: 5.5px;
  left: 6px; }

#icon1 {
  position: absolute;
  top: 46px;
  left: 229px; }

#icon2 {
  position: absolute;
  top: 124px;
  left: 330px; }

#icon3 {
  position: absolute;
  top: 204px;
  left: 431px; }
