a:hover {
  color: #9090a5; }

img {
  max-width: 100%;
  max-height: auto; }

body {
  width: 284px;
  height: 438px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px; }

a {
  display: block;
  text-decoration: none;
  color: black; }

.head {
  display: flex;
  background-image: url("/image/doc_cam.PNG");
  background-repeat: no-repeat;
  background-position: left top;
  margin-top: 8px;
  margin-left: 8px; }
  .head h1 {
    margin-top: 0px;
    margin-left: 13px;
    font-size: 17.6px; }

.anh {
  margin-left: 8px; }

.content {
  margin-left: 8px; }
  .content h2 {
    line-height: 20px;
    margin-bottom: 0px;
    margin-top: 8px; }
  .content .text1 {
    line-height: 17px;
    font-size: 11.5px;
    color: #555555; }
    .content .text1 p {
      margin-top: 6px; }
  .content .text2 p {
    font-size: 11px;
    line-height: 14.5px; }

hr {
  border: 0.1px solid #eee9e9; }
