<!--build:style_style10-->
    <link rel="stylesheet" href="assets/css/style10.css">
<!--/build:style_style10-->

<!--build:index10-->
    <div class="content">
    <div class="upon">
        <div class="anh1"> <a href="#"><img src="/image/anh1_step3.png" alt="ảnh" width="209px" height="130px"></a>
        </div>
        <div class="anh2">
            <a href="#"><img src="/image/mat_xem_step3.png" alt="ảnh"></a>
        </div>
        <div class="nguoiXem">
            <a href="#" style="color: rgb(216, 211, 202);">
                <p>114.944 lượt xem</p>
            </a>
        </div>

    </div>
    <div class="under">
        <a href="#">
            <h2>Xuất thân trâm anh thế phiệt của các sao Hollywood: Sinh ra đã ngậm thìa vàng ...</h2>
        </a>
    </div>
    </div>
<!--/build:index10-->