<!--build:style_style3-->
<link rel="stylesheet" href="assets/css/style3.css">
<!--/build:style_style3-->

<!--build:index3-->
    <div class="list_hour">
        <section id="left">
            <a href="#">
                <p>12:30</p>
            </a>
        </section>
        <aside id="right">
            <a href="#">
                <p>Cách chức Trưởng công an xã vào nhà nghỉ với vợ bạn thân</p>
            </a>
        </aside>
    </div>
<!--/build:index3-->