<!--build:style_style1-->
<link rel="stylesheet" href="assets/css/style1.css">
<!--/build:style_style1-->

<!-- build:index1 -->
    <div class="list">
        <ul>
            <li> <a href="#">Mohamed Salah sớm chia tay World Cup 2018</a></li>
            <li> <a href="#">Những chuyện bất thường quanh khoản chi 1.200 tỷ đồng cho 53.000 các bộ xuất ngoại</a></li>
            <li> <a href="#">Thái Lan phủ nhận thông tin cùng Việt Nam và Indonnesia đăng cai World Cup 2034</a></li>
            <li> <a href="#">Câu nói đùa của Ngoại trưởng Mỹ khiến ông Kim Jong-un bật cười</a></li>
            <li> <a href="#">Xây siêu thành phố thông minh tỷ USD, đất Đông Anh lại có dịp "nổi sóng"?</a></li>
        </ul>
    </div>
<!-- /build:index1 -->
