<!--build:style_style9-->
    <link rel="stylesheet" href="assets/css/style9.css">
<!--build:style_style9-->

<!--build:index9-->
    <div class="head">
        <a href="#">
            <h1>STAR</h1>
        </a>
    </div>
    <div class="anh">
        <a href="#"><img src="/image/bang_bang.png" alt="ảnh" width="273px" height="171px"></a>
    </div>
    <div class="content">
        <a href="#">
            <h2>Phạm Băng Băng đáp trả như thế nào trước loạt tin đồn thua bạc, trốn thuế và bỏ quốc tịch Trung Quốc?
            </h2>
        </a>
        <span class="text1">
            <p>Phía Phạm Băng Băng quyết tâm đưa tất cả những tin đồn ác ý giao cho pháp luật xử lý nghiêm minh.</p>
        </span>
        <hr>
        <span class="text2">
            <a href="#">
                <p><strong>Lộ clip Trương Vệ Kiên bị cảnh sát bắt vì sử dụng ma túy tại Bắc Kinh?</strong></p>
            </a>
            <hr>
            <a href="#">
                <p><strong>Mặc bàn tán của dư luận về chiếc cằm biến dạng, Minh Hằng vẫn tự tin thực hiện
                        trào...</strong></p>
            </a>
        </span>

    </div>
<!--/build:index9-->