<!--build:style_style2-->
    <link rel="stylesheet" href="assets/css/style2.css">
<!--/build:style_style2-->
</head>

<!--build:index2-->
    <div class="list">
        <ul>
            <li>
                <a href="#">Quán bún riêu 30 năm tuổi ở vỉa hè Sài Gòn có gì hấp dẫn mà Trường Giang trở thành
                    "khách quen" lâu năm?

                </a>
                <span id="icon1" style="cursor: pointer;"><img src="/image/22.png"></span>

            </li>
            <li>
                <a href="#">Sữa tươi Mười vào sáng tinh mơ và câu chuyện 20 năm gây thương nhớ của những cô chủ quán dễ
                    thương nhất Sài Gòn</a>
                <span id="icon2" style="cursor: pointer;"><img src="/image/22.png"></span>


            </li>
            <li>
                <a href="#" style="margin-bottom: 42px;">Quán cafe ở Sài Gòn mà Thủ Tướng Canada ghé uống: "Ông và người
                    ngồi cùng bàn đều uống cafe
                    sữa pha phin và khen ngon"</a>
                <span id="icon3" style="cursor: pointer;"><img src="/image/22.png"></span>
            </li>


        </ul>
        <hr>
    </div>
<!--/build:index2-->