<!--build:style_style6-->
    <link rel="stylesheet" href="assets/css/style6.css">
<!--/build:style_style6-->

<!--build:index6-->
    <div class="upon">
        <div class="left">
            <a href="#"><img src="/image/left_upon_step7.png" alt="ảnh" width="80px" height="48px"></a>
        </div>
        <div class="right">
            <a href="#">
                <p><strong>Mẹ mua giống cà chua "siêu trái" trồng để con đi thi, ai ngờ 2 thá...</strong></p>
            </a>

        </div>
    </div>

    <div class="under">
        <div class="left">
            <a href="#"><img src="/image/left_under_step7.png" alt="ảnh" width="82px" height="49px"></a>

        </div>
        <div class="right">
            <a href="#">
                <p><strong>Muốn biết cầu thủ Anh tập luyện thế nào cho World Cup, Insta stori...</strong></p>
            </a>

        </div>
    </div>
<!--/build:index6-->