<!--build:style_style5-->
    <link rel="stylesheet" href="assets/css/style5.css">
<!--/build:style_style5-->


<!--build:index5-->
    <div class="left">
        <a href="#"><img src="/image/left-news-hot-3.png" alt="ảnh" width="208px" height="295px"></a>

    </div>
    <div class="right">
        <div class="upon">
            <a href="#">
                <h2>Georgina đẹp hút mắt trên khán đài, tiếp lửa cho Cristiano Ronaldo</h2>
            </a>
            <div class="danNgang">
                <a href="#"><strong>Sport</strong></a>
                <span class="right1" style="margin-left: 9px;"> - 13 giờ trước</span>
            </div>
            <a href="#">
                <p>Người đẹp 22 tuổi bay sang Nga để cổ vũ Ronaldo trong cuộc chạm trán với Morocco, trận đấu mà siêu
                    sao người Bồ Đào Nha tỏa sáng với bàn thắng duy nhất giúp Bồ Đào Nha giành 3 điểm trọn vẹn.</p>
            </a>
        </div>
        <hr>
        <div class="under">
            <a href="#"><span id="docThem">Đọc thêm</span></a>
            <div class="list">
                <ul>
                    <li>
                        <a href="#" class="contents"><strong>"Ronaldo đang ở một đẳng cấp khác, trên tầm Messi
                                rồi"</strong>
                            <span class="cham1"> . </span>
                            <span class="gio">5 giờ trước</span></a>
                    </li>
                    <li>
                        <a href="#" class="contents"><strong>Cầu thủ Morocco tố trọng tài lén lút xin áo đấu của
                                Ronaldo</strong>
                            <span class="cham2"> . </span>
                            <span class="gio"> 4 giờ trước</span></a>
                    </li>
                    <li>
                        <a href="#" class="contents"><strong>"Messi đau khổ và khóc nhiều vì giấc mơ vô địch World
                                Cup"</strong>
                            <span class="cham3"> . </span>
                            <span class="gio"> 5 giờ trước</span></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
<!--/build:index5-->