<!--build:style_style8-->
    <link rel="stylesheet" href="assets/css/style8.css">
<!--/build:style_style8-->
<!--build:index8-->
    <div class="upon">
        <a href="#">
            <h2>Thi THPT Quốc gia 2018: Thí sinh không được mang đề thi, giấy nháp của bài thi Khoa học ra khỏi phòng
                thi</h2>
        </a>
    </div>

    <div class="under">
        <div class="left">
            <a href="#"> <img src="/image/left_news-one-mobile.png" alt="ảnh" width="107px" height="80px"></a>
        </div>
        <div class="right">
            <a href="#">
                <h4>Kỳ thi THPT Quốc gia năm nay có nhiều điểm mới hơn so với các năm trước.</h4>
            </a>
            <div class="danNgang">
                <a href="#"><span id="hocDuong"><strong>HỌC ĐƯỜNG</strong></span></a>
                <span> - 16 giờ trước</span>
            </div>
        </div>
    </div>
<!--/build:index8-->