<!--build:style_style4-->
    <link rel="stylesheet" href="assets/css/style4.css">
<!--/build:style_style4-->
<!--build:index4-->
    <div class="left">
        <a href="#"><img src="/image/left.png" alt="anh1" width="252px" height="166px"></a>
    </div>

    <div class="right">
        <a href="#">
            <h2>Những gương mặt thủ khoa đại học đạt tuyệt đối 30 điểm: Khi bạn giỏi thực sự, điểm thi chỉ là một con
                số!</h2>
        </a>
        <div class="danNgang">
            <a href="#"><strong>Học đường </strong></a>
            <span class="gio" style="margin-left: 2px;"> - 3 giờ trước</span>
        </div>
        <a href="#">
            <p>Hầu hết thủ khoa đạt 30 điểm trong kỳ thi THPT Quốc gia đều tự chấm được 30 điểm cho mình ngay sau khi
                ...</p>
        </a>
    </div>
<!--/build:index4-->