<!--build:style_style7-->
    <link rel="stylesheet" href="assets/css/style7.css">
<!--/build:style_style7-->

<!--build:index7-->
    <div class="upon">
        <a href="#"><img src="/image/upon_step5.png" alt="ảnh" width="385px" height="245px"></a>
    </div>
    <div class="under">
        <a href="#">
            <h2>Quán cháo "hào sảng" giá 5.000 đòng/tô của cô Tư Sài Gòn: Nhà
                Tư không nợ nần gì, bán vầy là sống thoải mái rồi!
            </h2>
        </a>
        <a href="#">
            <p>Không ngẫu nhiên mà hơn 40 năm qua quán cháo vỉa hè của gia đình cô Tự luôn
                tấp nập khách từ sáng sớm, dù chẳng biển hiệu. Với mức giá 5.000 đồng không thay đổi mấy
                mưa năm qua, nơi đây trở thành một điểm quen thuộc...
            </p>
        </a>
    </div>
<!--/build:index7-->